<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.warehousemanagement.mapper.wms.InboundOrderMapper">

    <insert id="insertOrder" parameterType="com.design.warehousemanagement.pojo.vo.inbound.InboundOrderInsertVO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wms_inbound_order (
            order_no,
            source_no,
            order_type,
            supplier_name,
            contact_person,
            contact_phone,
            total_quantity,
            actual_quantity,
            order_status,
            plan_time,
            remark,
            dr,
            create_by,
            update_by
        ) VALUES (
            #{orderNo},
            #{sourceNo},
            #{orderType},
            #{supplierName},
            #{contactPerson},
            #{contactPhone},
            #{totalQuantity},
            #{actualQuantity},
            #{orderStatus},
            #{planTime},
            #{remark},
            0,
            #{createBy},
            #{updateBy}
        )
    </insert>

    <insert id="batchInsertDetails">
        INSERT INTO wms_inbound_order_detail (
            order_id,
            model_id,
            model_code,
            model_name,
            batch_no,
            suggested_bin_code,
            planned_quantity,
            actual_quantity,
            detail_status,
            dr
        ) VALUES
        <foreach collection="details" item="d" separator=",">
            (
                #{d.orderId},
                #{d.modelId},
                #{d.modelCode},
                #{d.modelName},
                #{d.batchNo},
                #{d.suggestedBinCode},
                #{d.plannedQuantity},
                0,
                0,
                0
            )
        </foreach>
    </insert>
</mapper>
